li {
    border: 1px solid black;
    display: block;
    width: 34%;
    background-color: darkred;
    color: white;
    padding: 10px;
    text-align: center;
    float: left;
}
ul{
	width: 70%;
	float: right;
}
img {
	float: left;
}